main .quiz-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 1rem;
  padding: 2rem;
}

main .quiz-card div .btn-answer {
  background-color: #2c2c2c;
  border: none;
  color: #fff;
}

main .quiz-card div .btn-answer:hover {
  background-color: #444;
}

.btn-correct {
  background-color: #28a745 !important; /* Bootstrap-Grün */
  color: white !important;
}

.btn-wrong {
  background-color: #dc3545 !important; /* Bootstrap-Rot */
  color: white !important;
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

footer a:hover {
  color: #4caf50;
  text-decoration: underline;
}
